body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/56/bd/25/56bd25668fcc3d4b4707758341556209.jpg");
  background-size: 100%;
}

#main-container {
  background-color:black;
  text-align: center;
  padding: 40px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 25%;
}

h1, p, h2 {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

#start-button {
  font-family: inherit;
  font-size: 24px;
  padding: 12px 36px;
  border-radius: 8px;
}

input[type="radio"] + label {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}
